/* ---------------------------------------------- /*
* Preloader
/* ---------------------------------------------- */
:global(#preloader) {
    background: white;
    bottom     : 0;
    left       : 0;
    position   : fixed;
    right      : 0;
    top        : 0;
    z-index    : 9999;
    }
:global(.btn-default3){
  background: white;
}
:global(#status),
:global(.status-mes) {
    background-image    : url(./preloader.svg);
    background-position : center;
    background-repeat   : no-repeat;
    width               : 200px;
    height              : 200px;
    left                : calc(50% - 100px);
    top                 : calc(50% - 100px);
    position            : absolute;
    }

:global(.status-mes) {
    background : none;
    left       : 0;
    margin     : 0;
    text-align : center;
    top        : 65%;
    }
